@model ArticleDetailsModel
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Article";
}

<input type="hidden" value="@User.Identity.Name" id="currentUser" />

<div class="row">
    <div class="col-md-12 align-to-logo">
        @await Html.PartialAsync("_TipsPartial", WebConstants.ViewArticleTip)
    </div>

    <div class="col-md-12 align-to-logo">
        <div class="box">
            <div class="padded">
                <h4>@(Model.CreatedOn.ToString("MMM, dd, yyyy"))</h4>
                <h2>@Model.Title</h2>
                <div class="col-md-12 h-title">
                    <div class="col-md-10 align-to-logo">
                        
                        <p class="blue-color align-to-logo"><strong>by @Model.Author</strong></p>
                    </div>
                    <div class="col-md-2 text-right align-to-right-edge">
                        @if ((User.IsInRole(DataConstants.AdminRole) || User.IsInRole(DataConstants.ModeratorRole))
                            && UserManager.GetUserId(User) == Model.UserId)
                        {
                            <a asp-area="Moderator" asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary align-to-right-edge">Edit Article</a>
                        }
                    </div>

                </div>
                
                @Html.Raw(Model.Content)
            </div>
           
            <div class="col-md-12 padded text-right">
                <div class="likes-wrapper">
                    <button class="transparent-button btn-xs like-article" data-id="@Model.Id" data-likevalue="true">
                        <img class="like-button img-responsive" src="~/images/like.png" data-id="@Model.Id" data-likevalue="true" />
                    </button>
                    <span id="material-likes">@Model.Likes</span>
                </div>
                <div class="likes-wrapper">
                    <button class="transparent-button btn-xs like-article" data-id="@Model.Id" data-likevalue="false">
                        <img class="like-button img-responsive" src="~/images/dislike.png" data-id="@Model.Id" data-likevalue="false" />
                    </button>
                    <span id="material-dislikes">@Model.Dislikes</span>
                </div>
            </div>

            <h2 class="h-title">Comments</h2>
            <div class="col-md-6">
                @if (Model.Comments.Count() == 0)
                {
                    <p id="noComment">No comments yet. Be first :)</p>
                    <ul id="comments-list"></ul>
                }
                else
                {
                <ul id="comments-list">
                    @foreach (var comment in Model.Comments)
                    {
                        <li class="h-title">
                            <div><strong>@comment.User: </strong>@comment.Content</div>
                            @*<div>@comment.Answers  answers; @comment.Likes likes; @comment.Dislikes dislikes;</div>*@
                        </li>
                    }
                </ul>
                }

                <form class="comment-form">
                    <input type="hidden" value="@Model.Id" name="Id" />
                    <div class="form-group">
                        <textarea name="Content" id="textarea-comment" cols="80" required></textarea>
                    </div>
                    <button class="btn btn-sm btn-default" type="submit" id="addComment">Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/global/article-details.js"></script>
    <script>
        $('#nav-articles').addClass('active');
    </script>
}


