@model ArticleDetailsModel
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Article";
}

<div class="row">
    <div class="col-md-12 align-to-logo">
        @await Html.PartialAsync("_TipsPartial", WebConstants.ViewArticleTip)
    </div>

    <div class="col-md-12 align-to-logo">
        <div class="box">
            <div class="padded">
                <h4>@(Model.CreatedOn.ToString("MMM, dd, yyyy"))</h4>
                <h2>@Model.Title</h2>
                <div class="col-md-12 h-title">
                    <div class="col-md-10 align-to-logo">
                        
                        <p class="blue-color align-to-logo"><strong>by @Model.Author</strong></p>
                    </div>
                    <div class="col-md-2 text-right align-to-right-edge">
                        @if ((User.IsInRole(DataConstants.AdminRole) || User.IsInRole(DataConstants.ModeratorRole))
                            && UserManager.GetUserId(User) == Model.UserId)
                        {
                            <a asp-area="Moderator" asp-controller="Articles" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary align-to-right-edge">Edit Article</a>
                        }
                    </div>

                </div>
                
                @Html.Raw(Model.Content)
            </div>
           
            <div class="col-md-12 padded text-right">
                <div class="likes-wrapper">
                    <button class="transparent-button btn-xs"><img class="like-button img-responsive" src="~/images/like.png"></button>
                    <span class="material-likes">@Model.Likes</span>
                </div>
                <div class="likes-wrapper">
                    <button class="transparent-button btn-xs"><img class="like-button img-responsive" src="~/images/dislike.png"></button>
                    <span class="material-dislikes">@Model.Dislikes</span>
                </div>
            </div>

            <h2 class="h-title">Comments</h2>
            <ul class="comments">
                @foreach (var comment in Model.Comments)
                {
                    <li>
                        <div><strong>@comment.User: </strong>@comment.Content</div>
                        <div>@comment.Answers  answers; @comment.Likes likes; @comment.Dislikes dislikes;</div>
                    </li>
                }
            </ul>
            <form method="post" asp-controller="Users" asp-action="AddToRole" class="comment-form">
                <textarea name="Content" class="textarea-comment" cols="100" required></textarea>
                <button class="btn btn-default btn-xs addComment" data-id="@Model.Id">Comment</button>
            </form>

        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/global/article-details.js"></script>
    <script>
        $('#nav-articles').addClass('active');
    </script>
}


