@model ArticlesPagingViewModel

@{
    ViewData["Title"] = "Articles";
    var previouseDisbaled = Model.CurrentPage == 1 ? "disabled" : string.Empty;
    var nextDisbaled = Model.CurrentPage == Model.PagesCount ? "disabled" : string.Empty;
}

<div class="row">
    @await Html.PartialAsync("_TipsPartial", WebConstants.ViewDownloadsTip)
</div>

<div class="row">
    <div class="box">
        <div class="col-md-12 h-title">
            <div class="col-md-8">
                <h2>@ViewData["Title"]</h2>
            </div>
            @if (Model.Articles.Count() == 0)
            {
                <div class="col-md-12">
                    <p>No available articles.</p>
                </div>
            }
            else
            {
                <div class="col-md-4 text-right">
                    <ul class="pagination">
                        <li class="page-item @previouseDisbaled">
                            <a class="page-link @previouseDisbaled" href="/articles?page=@Model.PreviousePage" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.PagesCount; i++)
                        {
                            var activeState = Model.CurrentPage == i ? "active" : string.Empty;
                            <li class="page-item @activeState"><a class="page-link" href="/articles?page=@i">@i</a></li>
                        }
                        <li class="page-item @nextDisbaled">
                            <a class="page-link @nextDisbaled" href="/articles?page=@Model.NextPage" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            }

        </div>

        @foreach (var item in Model.Articles)
        {
            @await Html.PartialAsync("_ArticlePartial", item)
        }
    </div>
</div>


@section Scripts{
    <script>
        $('#nav-articles').addClass('active');
    </script>
}